discord_token = 'token'
discord_token_dev = 'token_dev'
DEBUG = 'True'
#DATABASE_URL = "postgresql+psycopg://postgres:46864238@localhost/discord_bot"

POSTGRES_HOST=vitya-bd
POSTGRES_DB=Vitya
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_URI=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

DATABASE_URL=${POSTGRES_URI}